@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f8fafc;
    font-weight: bold;
}

.status-box {
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    text-align: center;
    width: 80px;
    margin: 5px;
    display: inline-block;
}

.section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
